fover_dataset/**/*.jsonl
# !fover_dataset/**/test.jsonl
# !fover_dataset/**/validation.jsonl

intermediate_outputs/llama_factory_datasets/**/*.json
!intermediate_outputs/llama_factory_datasets/**/*.stats.json

llm_cache
terminal_outputs
tmp_thy_files

pisa_copy
isabelle_copy
intermediate_outputs/isabelle

finetuned_models/**
!finetuned_models/**/
!finetuned_models/**/train_params.yaml
!finetuned_models/**/train.jsonl.md5

llama_factory_finetuned_models/**
!llama_factory_finetuned_models/**/
!llama_factory_finetuned_models/**/README.md
!llama_factory_finetuned_models/**/config.json
!llama_factory_finetuned_models/**/generation_config.json
!llama_factory_finetuned_models/**/train_results.json
!llama_factory_finetuned_models/**/trainer_log.jsonl
!llama_factory_finetuned_models/**/trainer_state.json

direct_evaluation_datasets/**/*.jsonl
intermediate_outputs/**/*.jsonl
model_inputs/**/*.jsonl
model_responses/**/*.jsonl
model_responses/**/*.thy

Isabelle2021
Isabelle2022
Isabelle2024
Portal-to-ISAbelle
afp-*

.env
pyrightconfig.json
*__pycache__
